#nav-bar {
    height: 75px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: left;
    border-bottom: 1px ridge black;
    position: fixed;
    top: 0;
}

#nav-bar a {
    font-family: Helvetica, Arial;
    font-size: 200%;
}
